* {
  box-sizing: border-box;
  font-family: "Cal Sans", Tahoma, Geneva, Verdana, sans-serif;
}

[type="button"],[type="submit"], button {
  cursor: pointer;
}

body {
  min-width: 100%;
}
.bg-gray {
  background-color: #e6e6e6;
}
.content-wrapper {
  display: flex;
}

.content-wrapper-lg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  min-height: 90%;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
}

#category-part {
  flex: 6;
}

.heading {
  display: flex;
}

.heading > h1 {
  flex: 4;
  margin-left: 16px;
  margin-bottom: 3px;
}

.categories {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 1em;
}

input#search {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(82, 79, 79);
}

#search-btn {
  border: none;
  padding: 0%;
  background-color: white;
}

input#search,
#search-btn {
  margin-top: 32px;
}

#search-btn img {
  background-color: white;
  cursor: pointer;
  margin-right: 5px;
}

.category-item {
  background-color: lightgray;
  box-shadow: 2px 2px 5px rgb(136, 134, 134);
  border-radius: 0.5em;
  margin: 0.5em;
  text-align: center;
  height: 7em;
  width: 9em;
  overflow: hidden;
  font-weight: 500;
  cursor: pointer;
}

.category-item:hover {
  background-color: rgb(187, 185, 185);
}
.category-item:active {
  margin-top: 6px;
}

.category-item-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3%;
  width: 50%;
}
/* .category-item:checked ~.modal{
    opacity: 1;
    visibility: visible;
} */

#order-part {
  flex: 4;
  border-left: 2px solid black;
  height: 80%;
  min-width: 50px;
}

.item-hr {
  background-color: gray;
  border: none;
  height: 0.5px;
  width: 98%;
}

.order-details {
  margin-left: 3%;
  min-height: 340px;
}

.order-details>h2{
  background-color: #69ff66;
}

.purchased {
  position: inherit;
  border: none;
  margin-right: 2em;
}
.purchased > h3 {
  display: inline;
  margin: 5px 0px 5px 0px;
}

.sub > li {
  list-style-type: none;
  text-align: right;
  font-weight: 500;
  margin-right: 2.5em;
  /* margin: 8%; */
}

.purchased-num,
.plus,
.minus,
.quantity {
  display: inline;
}

.del {
  float: right;
}
.purchased-num {
  position: relative;
  left: 75%;
}
.functionBtns {
  display: grid;
  grid-template-columns: auto auto;
  margin-right: 2em;
  
}

.functionBtns-item {
  background-color: #69ff66;
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 0.5em;
  border: none;
  font-weight: 600;
  flex-direction: row;
  margin: 0.5em;
  padding: 10px;
  text-align: center;
  width: 15em;
}

.functionBtns > a {
  text-decoration: none;
  color: black;
}

.functionBtns-item:hover{
  background-color: #55d353;
}
.functionBtns-item:active {
  background-color: rgb(70, 139, 1);
  color: antiquewhite;
}

.modal {
  visibility: hidden;
  /* opacity: 1; */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e6e6e6;
  width: 720px;
  min-height: 450px;
  box-shadow: 2px 2px 5px rgb(95, 94, 94);
  border-radius: 0.25em;
  overflow: hidden;
  transition: 0.4s ease-in;
}

.modal-name {
  text-align: center;
  margin-top: 5%;
  padding: 2%;
  background-color: #69ff66;
}

.modal-close-btn {
  position: absolute;
  top: 1%;
  right: 1%;
  border: none;
  background-color: #69ff66;
}

.category-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 10px;
  text-align: center;
}

.sub-cat-item {
  height: 5em;
  width: 10em;
  border-radius: 0.5em;
  margin: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 2px 5px rgb(95, 94, 94);
  font-weight: 500;
}
.sub-cat-item:hover {
  background-color: rgb(187, 185, 185);
  cursor: pointer;
}
.sub-cat-item:active {
  background-color: cadetblue;
  margin-top: 2px;
}
.sub-cat-item > p {
  margin: 2px 0px 2px 0px;
}

.bar {
  width: 90%;
}

.modal-del-com-btn {
  position: absolute;
  bottom: 3%;
  right: 2%;
}

.selected-items,
.num-of-items-selected {
  margin: 1em;
}

.pay-header>h3{
  /* background-color: aqua; */
  text-align: center;
  margin-top: 1em;
  font-size: x-large;
  height: 2em;
}


label[for="grandtotal"],input[type="text"],.pay-button{
  display: block;
  text-align: center;
  font-size: larger;
  margin: auto;
  padding-bottom: 10px;
}

.cart-items{
  font-size: smaller;
}

/* .pay-button{
  margin-top: 30px;
}

.pay-button>input[type="button"], .pay-button>input[type="submit"]{
  text-align: center;
  margin-top: 30px;
  font-size: large;
  width: 5em;
  background-color: rgb(135, 167, 228);
  border-radius: 0.5em;
  cursor: pointer;
} */

.modal-pay {
  visibility: hidden;
  /* opacity: 1; */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  min-height: 300px;
  box-shadow: 2px 2px 5px rgb(95, 94, 94);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s ease-in;
}

.pay-header>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}