* {
  box-sizing: border-box;
  font-family: "Cal Sans", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-width: 100%;
}
.content-wrapper {
  display: flex;
}

#category-part {
  flex: 6;
}

.heading {
  display: flex;
}

.heading > h1 {
  flex: 4;
  margin-left: 16px;
  margin-bottom: 3px;
}

.categories {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 1em;
}

input#search {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(82, 79, 79);
}

#search-btn {
  border: none;
  padding: 0%;
  background-color: white;
}

input#search,
#search-btn {
  margin-top: 32px;
}

#search-btn img {
  background-color: white;
  cursor: pointer;
  margin-right: 5px;
}

.category-item {
  background-color: lightgray;
  box-shadow: 2px 2px 5px rgb(136, 134, 134);
  border-radius: 0.5em;
  margin: 0.5em;
  text-align: center;
  height: 7em;
  width: 9em;
  overflow: hidden;
  font-weight: 500;
  cursor: pointer;
}

.category-item:hover {
  background-color: rgb(187, 185, 185);
}
.category-item:active {
  margin-top: 6px;
}

.category-item-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3%;
  width: 50%;
}
/* .category-item:checked ~.modal{
    opacity: 1;
    visibility: visible;
} */

#order-part {
  flex: 4;
  border-left: 2px solid black;
  height: 80%;
  min-width: 50px;
}

.item-hr {
  background-color: gray;
  border: none;
  height: 0.5px;
  width: 98%;
}

.order-details {
  margin-left: 3%;
  min-height: 340px;
}

.purchased {
  position: inherit;
  border: none;
}
.purchased > h3 {
  display: inline;
  margin: 5px 0px 5px 0px;
}

.sub > li {
  list-style-type: none;
  text-align: right;
  font-weight: 500;
  margin-right: 10px;
  /* margin: 8%; */
}

.purchased-num,
.plus,
.minus,
.quantity {
  display: inline;
}

.del {
  float: right;
}
.purchased-num {
  position: relative;
  left: 75%;
}
.functionBtns {
  display: grid;
  grid-template-columns: auto auto;
}

.functionBtns-item {
  flex-direction: row;
  background-color: chartreuse;
  box-shadow: 2px 2px 5px lightgray;
  font-weight: 600;
  border-radius: 0.5em;
  margin: 0.5em;
  text-align: center;
  padding: 10px;
}

.functionBtns > a {
  text-decoration: none;
  color: black;
}
.functionBtns-item:active {
  background-color: rgb(70, 139, 1);
  color: antiquewhite;
}

.modal {
  visibility: hidden;
  /* opacity: 1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  width: 700px;
  height: 450px;
  box-shadow: 2px 2px 5px rgb(95, 94, 94);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s ease-in;
}

.modal-name {
  text-align: center;
  background-color: rgb(192, 161, 121);
  margin-top: 5%;
  padding: 2%;
}

.modal-close-btn {
  position: absolute;
  top: 1%;
  right: 1%;
  border: none;
  background-color: rgb(245, 217, 180);
  cursor: pointer;
}

.category-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 10px;
  text-align: center;
}

.sub-cat-item {
  height: 4em;
  width: 10em;
  border-radius: 0.5em;
  margin: 5px;
  overflow: hidden;
  background-color: lightgray;
  box-shadow: 2px 2px 5px rgb(95, 94, 94);
  font-weight: 500;
}
.sub-cat-item:hover {
  background-color: rgb(187, 185, 185);
  cursor: pointer;
}
.sub-cat-item:active {
  background-color: cadetblue;
  margin-top: 2px;
}
.sub-cat-item > p {
  margin: 2px 0px 2px 0px;
}

.bar {
  width: 90%;
}

.modal-del-com-btn {
  position: absolute;
  bottom: 3%;
  right: 2%;
}

.selected-items,
.num-of-items-selected {
  margin: 1em;
}
