* {
  box-sizing: border-box;
  font-family: "Cal Sans", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

body {
  width: 100%;
}

/**************** Global Colors  ****************/

/** Main color : #69FF66 **/

/**************** Global elements ****************/
.bg-gray {
  background-color: #e6e6e6;
}

.bg-dgray {
  background-color: #b0b0b0;
}

.bg-green {
  background-color: #69ff6680;
}

.content-wrapper {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  text-align: center;
  background-color: white;
  border-radius: 25px;
}

.content-wrapper-lg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 90%;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.7rem;
}

.non-outline {
  outline: none;
  border: none;
}

.shadows {
  box-shadow: 1px 1px 4px rgb(136, 134, 134);
}

.lines {
  border: 3px solid #0f0f0f;
  margin: auto;
}

.heading-line {
  width: 100%;
  margin-bottom: 40px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.search {
  border-bottom: 1px solid rgb(82, 79, 79);
}

.input-search {
  border: none;
  font-size: 1rem;
}

.search-btn {
  border: none;
  padding: 0;
  background-color: white;
  opacity: 0.7;
}

/**************** Login page ****************/

.input-login {
  font-size: 1.4rem;
  line-height: 2;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
}

.btn-login {
  font-size: 1.4rem;
  line-height: 2;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #69ff66;
  /* display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  cursor: pointer;
  /* -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s; */
}

/**************** Main Menu Page ****************/

.menu-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.menu-item {
  flex-direction: row;
  background-color: #69ff66;
  width: 200px;
  height: 100px;
  border-radius: 1.05rem;
  font-size: 2rem;
  cursor: pointer;
}

.menu-line {
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

/**************** Staffs  & Inventory Page ****************/

.content-block {
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  height: 70%;
}

.table-wrapper {
  width: 85%;
  float: left;
}

.btns-wrapper {
  width: 15%;
  float: left;
  margin-top: 20px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

table.db-table {
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
}

table.db-table tbody {
  overflow-y: auto;
  overflow-x: hidden;
  /* height: 91%; */
  width: 100%;
}

table td,
table th {
  border: 1px solid black;
}

table.db-table thead th {
  height: 40px;
  font-size: 1.2rem;
}

table.db-table tbody td {
  line-height: 30px;
}

table.db-table .Product:hover{
  background-color: #b0b0b0;
}

.btns-wrapper .db-btns {
  width: 80%;
  height: 100px;
  background-color: #69ff66;
  border-radius: 1.05rem;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

/*********************** MODAL - Management **********************/

.modal-container {
  display: none; /** default: none**/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.add-edit-modal {
  position: relative;
  width: 95%;
  max-width: 450px;
  min-height: 380px;
  margin: 10% auto;
  border-radius: 0.25em;
  border: none;
  transition: 0.4s ease-out;
  padding: 30px;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: black;
  background-color: #69ff66;
  outline: none;
  border-radius: 0.25em;
  border: none;
}

.modal-title {
  text-align: center;
  margin-bottom: 30px;
}

.add-edit-form {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-gap: 20px;
}

.add-edit-form-label {
  text-align: right;
}

.add-edit-form-submit {
  grid-column: 1/3;
  margin-top: 10px;
  height: 30px;
  background-color: #69ff66;
}

.delete-modal {
  position: relative;
  max-width: 450px;
  min-height: 150px;
  margin: 10% auto;
  border-radius: 0.25em;
  border: none;
  transition: 0.4s ease-out;
  padding: 37px;
  font-size: 1.3rem;
  text-align: center;
}

.delete-btns {
  background-color: #69ff66;
  height: 30px;
  width: 20%;
  margin: 30px 10px 0 10px;
}
